
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>MOON</title>
</head>
<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero"><h1><span>MOON</span></h1></a>
                </div>
                <div class="nav-list">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href="#hero" data-after="Home">Home</a></li>
                        <li><a href="#services" data-after="Service">Lessons</a></li>
                        <li><a href="#about" data-after="About">About</a></li>
                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>MAKE <span></span></h1>
                <h1>YOUR DREAMS <span></span></h1>
                <h1>COME TRUE <span></span></h1>
                <a asp-controller="Account" asp-action="Register" type="button" class="cta">Join Us</a>
            </div>
        </div>
    </section>
    <!-- End Hero Section  -->
    <!-- Service Section -->
    <section id="services">
        <div class="services container">
            <div class="service-top">
                <h1 class="section-title">Lessons</h1>
            </div>
            <div class="service-bottom">
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Mathematics</h2>

                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Physics</h2>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Literature</h2>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Geographics</h2>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>History</h2>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Chemistry</h2>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Biology</h2>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Geometry</h2>
                </div>



            </div>
        </div>
    </section>
    <!-- End Service Section -->
    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">Recent <span>Projects</span></h1>
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-info">
                        <h1>Esma Yıldırım</h1>
                        <h2>Ankara Atatürk High School</h2>
                        <p>Moon is a very intuitive tool. We used it to provide eLearning training.Moon is a global online learning platform that offers massive open online courses.It is easy to learn how to use the tool and its features".</p>
                    </div>
                    <div class="project-img">
                        <img src="./img/studentComments/esma.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Berk Durmaz</h1>
                        <h2>Ankara Fen Lisesi</h2>
                        <p>"I really enjoyed working through the videos and questions. It's a great way to learn and can see how it can really help businesses. As a dyslexic person, this method of learning is a winner and the practice functionality before the test is a great idea". </p>
                    </div>
                    <div class="project-img">
                        <img src="./img/studentComments/berk.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Emir Turna</h1>
                        <h2>Maltepe High Shcool</h2>
                        <p>"A short response time is a critical metric for our dealers, and traditional on-site training could not help us achieve our goals. However, with the Moon platform, we have managed to deliver training to our dealers and their sales reps- fast and with only few resources"</p>
                    </div>
                    <div class="project-img">
                        <img src="./img/studentComments/emir.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Selin Aydın</h1>
                        <h2>Special Nilüfer High School</h2>
                        <p>"I tried the Moon video eLearning platform during the Christmas promotion. Due to the nature of my work I have tested many different eLearning platforms, and I must say that Moon has the upper hand in ease of use.The promotional eLearning was fun and engaging, and the fact that I was also lucky enough to win an iPad while having fun just shows that the people behind are as great as the product". </p>
                    </div>
                    <div class="project-img">
                        <img src="./img//studentComments/selin.png" alt="img">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Projects Section -->
    <!-- About Section -->
    <section id="about">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="./img/aboutUs.png" alt="img">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">About <span>Us</span></h1>
                
                <p>Our values guide how we design and build Moon.We’re transparent with our learners, our partners and each other about what we’re doing and why.We listen to and address the needs of our learners and partners, celebrating our successes and learning from our failures.We listen to and address the needs of our learners and partners, celebrating our successes and learning from our failures.We make online learning enjoyable for our learners and our partners alike, and have fun while we’re doing it.</p>
                
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- Contact Section -->
    <section id="contact">
        <div class="contact container">
            <div><h1 class="section-title">Contact<span> </span></h1></div>
            <div class="contact-items">
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                    <div class="contact-info">
                        <h1>Phone</h1>
                        <h2>+90 541 5258</h2>
                        
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                    <div class="contact-info">
                        <h1>Email</h1>
                        <h2>layikrumeysa@gmail.com</h2>
                        
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                    <div class="contact-info">
                        <h1>Address</h1>
                        <h2>Ankara, Turkey</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand"><h1><span>MOON</span></h1></div>
            <h2>Online Education System </h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
                </div>
            </div>
            <p>Copyright © 2020 Rumeysa. All rights reserved</p>
        </div>
    </section>
    <!-- End Footer -->
    <script src="./js/app.js"></script>
</body>
</html>