@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moon</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/login/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/login/css/style.css">
</head>
<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/login/images/signin-image.jpg" alt="sing up image"></figure>
                        <a asp-action="Register" asp-controller="Account" class="signup-image-link">Create an account</a>
                    </div>

                    
                    <div class="signin-form" asp-validation-summary="All">
                        <h2 class="form-title">Login</h2>
                        <form asp-action="Login" asp-controller="Account" method="POST" class="register-form" id="login-form">
                            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                            <div class="form-group">
                                <label asp-for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Email" name="your_name" id="your_name" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="Password" name="your_pass" id="your_pass" placeholder="Password" />
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Submit" />
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/login/vendor/jquery/jquery.min.js"></script>
    <script src="/login/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>